**/target
.vscode/
project/project/
**/metals.sbt
**/.bloop
.bsp/
.metals/
tmp/
polystat_out/
j2eo*.jar
sarif/**
polystat-x86_64-pc-linux
out/
**.json
!coursier/polystat.json
hadoop_tmp
**.jar
!native-image-configs/*.json
**.sarif
https/**